<%= error_messages_for 'account' %>

<tr>
  <td class="header">Nazwa</td>
  <td class="content">
    <%= text_field 'account', 'name' %>
  </td>
</tr>
<tr>
  <td class="header">Saldo</td>
  <td class="content">
    <%= text_field 'account', 'balance' %>
  </td>
</tr>

