<div class="title">Modyfikacja konta</div>

<%= link_to 'Wstecz', :action => 'list' %>
<br>
<br>

<% form_tag({:action => 'update', :id => @account}) do %>
  <table class="form_table">
    <%= render :partial => "form" %>
  <table>
  <br>
  <%= submit_tag "Modyfikuj" %>
<% end %>
