<div id="catDialogDiv">
	<div class="hd">Wybierz kategorię.</div>
	<div class="bd">
		<form method="POST">
			<input type="hidden" name="categoryName" />
			<input type="hidden" name="categoryId" />
			<div id="catTreeDiv"></div>
		</form>
	</div>
</div>